html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
	font: 20px Arial;
}
div#settings {
	display: flex;
	height: 100%;
	background: #444;
}
div#left-panel {
	background: #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px #000;
	z-index: 1;
}
div#left-panel ul {
	margin: 0;
	padding: 0;
}
div#left-panel ul li {
	list-style: none;
	color: #AAA;
	font-size: 25px;
	font-family: 'Calibri';
	font-weight: 200;
	text-align: right;
	padding: calc(3vh - 5px) 30px calc(3vh - 5px);
	width: 130px;
}
div#left-panel ul li:hover {
	color: #D95;
	cursor: pointer;
}
div#left-panel ul li.active {
	color: #fa3;
}

div#right-panel {
	flex: 1;
	padding: 60px 30px;
	-webkit-column-width: 300px;
	-moz-column-width: 300px;
	column-width: 300px;
}

#right-panel.controls .binding {
}

#right-panel.controls .action-name {
	display: inline-block;
	padding: 10px;
	width: 150px;
	color: #999;
	text-align: right;
	box-sizing: border-box;
}

#right-panel.controls .key-name {
	width: 150px;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	background-color: #AAA;
	color: #333;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
}

#right-panel.controls .key-name::after {
	display: inline-block;
	content: " ";
}

#right-panel.controls .key-name:hover {
	background-color: #c72;
}

#right-panel.controls .key-name.active {
	background-color: #f90;
	color: white;
	box-sizing: border-box;
}
